body, html{
    min-height: 100%;
    margin: 0;
    padding: 0;
    cursor: url(images/NormalSelect.png), auto;
    overflow-x: hidden;
    position: relative;
}
#wrapper{
    overflow-x: hidden;
    overflow-y: auto;
    position: fixed;
    width: 100%;
    height: 100vh;
}

header{
    z-index: 3;
    max-width: 100%;
    width: 100%;
    max-height: 8vh;
    height: 8vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    top: 0;
    position: sticky;
    font-family: 'Lato', sans-serif;
    margin: 0;
    background-color: white;
    opacity: 75%;
}
a{
    cursor: url(images/LinkSelect.png) 12 0 ,auto !important;
    color:black;
    font-size: 1.2rem;
}
a:hover{
    color: gray;
}
nav{
    width: 75%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0;
}
.nav-image{
    max-height: 7vh;
    width: auto;
}

#mainicon{
    max-width: 40vw;
    height: auto;
}

.icon{
    max-width: 5vh;
    width: auto;
    max-height: 5vh;
    margin-right: 2vw;
}

.contact{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Lato', sans-serif;
}
footer{
    z-index: 3;
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 10%;
    max-height: 10%;
    background-color: white;
    opacity: 75%;
}

#footerwrap{
    z-index: 4;
    max-height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    max-width: 100%;
    margin: 0.8% 0 0 0;
}
li{
    margin: 0;
    padding: 0;
}

#skillsbar{
    background-color: lightgray;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    max-height: 5%;
    line-height: 10%;
}


#skills{
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    list-style: none;
}

#skillstext{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5rem;
    
}

#resumepage{
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 100%;
    justify-content: center;
    margin-bottom: 10%;
}

#maintext{
    max-width: 40vw;
}

#resumetitle{
width: 100%;
text-align: center;
}

h1{
    font-family: 'Josefin Sans', sans-serif;
    cursor: url(images/TextSelect.png) 0 16, auto;
}


.sectiontitle{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
}
hr{
background-color: gray;
width: 100%;
height: 1px;
}

h2{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 500;
    font-size: 1.2rem;
    margin-bottom: 0%;
    margin-top: 5%;
    cursor: url(images/TextSelect.png) 0 16, auto;
}
h3{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 500;
    cursor: url(images/TextSelect.png) 0 16, auto;
}
h4{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    color: gray;
    cursor: url(images/TextSelect.png) 0 16, auto;
}
p{
    font-family: 'Plus Jakarta Sans', sans-serif;
    font-weight: 300;
    word-spacing:   0.1em;
    cursor: url(images/TextSelect.png) 0 16, auto;
}
#home{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#mainpagecontent{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    min-height: 100%;
    height: auto;
    margin: auto;
    padding: auto;
}

#artpage{
    max-width: 100%;
    width: 100%;
}

#artpagetext{
    text-align: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: auto;
    max-width: 100%;
    justify-content: center;
}

.resumecolumn{
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex: 50%;
    width: 50%;
    margin: auto;
    top: 0;

}
#overflowpreventiontext{
    display: none;
}
.itemtitle{
    margin-bottom: 4px;
    margin-top: 32px;
}
.points{
    list-style: outside none circle;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
    line-height: 1.2rem;
    cursor: url(images/TextSelect.png) 0 16, auto;
}
h4{
    margin-bottom: 4px;
    margin-top: 4px;
}
.column {
    flex: 22.5%;
    max-width: 22.5%;
    padding: 0 4px 80px 4px;
}
  
.column img {
    position: relative;
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
    height: auto;
    border: 2px solid whitesmoke;
    aspect-ratio: 6/9;
    object-fit: contain;
  }

.overlay{
    position: absolute;
    background-color: transparent;
    opacity: 75%;
    margin-top: 8px;
    aspect-ratio: 6/9;
    font-size: 175%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-out 0.5s ease;
    pointer-events: none;
}

#lastoverlay{
    top: 0 !important;
    left: 0 !important;
    position: absolute;
    background-color: transparent;
    opacity: 75%;
    margin-top: 8px;
    aspect-ratio: 6/9;
    font-size: 175%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: transparent;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fade-out 0.5s ease;
}

.container:hover #lastoverlay{
    background-color: rgb(81, 81, 81);
    color: white;
    animation: fade 0.75s ease;
    z-index: 1;
}

.container:hover .overlay{
    background-color: rgb(81, 81, 81);
    color: white;
    animation: fade 0.75s ease;
    z-index: 1;
}

@keyframes fade {
    0% {background-color:transparent; color: transparent; max-height: calc(100vh - calc(100vh - 100%));}
    100% {background-color:rgb(81, 81, 81); color: white; max-height: calc(100vh - calc(100vh - 100%));}
}
@keyframes fade-out {
    0% {background-color:rgb(81, 81, 81); color: white; max-height: calc(100vh - calc(100vh - 100%));}
    100% {background-color:transparent; color: transparent; max-height: calc(100vh - calc(100vh - 100%));}
}

.container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    max-height: auto;
}
  
img{
    width: 100%;
    height: 100%;
}
 
#portfoliotext{
    padding-left: 1.25%;
}


@media screen and (max-width: 900px) {
    #mainpagecontent{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: left;
        align-items: none;
        width: 100%;
        max-height: 85%;
        margin: auto;
    }
    #maintext{
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }
    #mainicon{
        max-width: 50%;
        width: auto;
    }
    #intro{
        font-size: 150%;
    }
    #tagline{
        font-size: 100%;
        margin-top: 0;
    }
    .contact p{
        content-visibility: hidden;
    }
    #footerwrap{
        margin: 1.3% auto auto auto;
    }
    #resumepage{
        margin-bottom: 15%;
    }
    .resumecolumn{
        flex: 70%;
        width: 70%;
    }
}

@media screen and (max-width: 700px) {
    .column {
      flex: 45%;
      max-width: 45%;
    }
    #mainpagecontent{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: left;
        align-items: none;
        width: 100%;
        max-height: 85%;
        margin: auto;
    }
    #maintext{
        display: flex;
        flex-direction: column;
        max-width: 70%;
    }
    #mainicon{
        max-width: 70%;
        width: auto;
    }
    #intro{
        font-size: 150%;
    }
    #tagline{
        font-size: 100%;
        margin-top: 0;
    }
    .contact p{
        content-visibility: hidden;
    }
    #footerwrap{
        margin: 1.5% auto auto auto;
    }
    .resumecolumn{
        flex: 80%;
        width: 80%;
    }
    #resumepage{
        margin-bottom: 15%;
    }
  }


  
  
@media screen and (max-width: 600px) {

    .column {
      flex: 90%;
      max-width: 90%;
    }
    .wrapper {
        overflow: hidden;
        overflow-y: visible !important;
        max-width: 100%;
        cursor: pointer;
    }
    .overlay{
        height: calc(100vh - calc(100vh - 100%));
    }
    #lastoverlay{
        height: calc(100vh - calc(100vh - 100%)) !important;
        left: 0 !important;
        top: 0 !important;
        position: absolute !important;
        overflow-y: visible !important;
    }

    .container:hover .overlay{
        background-color: rgb(81, 81, 81);
        color: white;
        z-index: 2;
    }
    .container:focus .overlay{
        background-color: rgb(81, 81, 81);
        color: white;
        z-index: 2;
    }
    .container:active .overlay{
        background-color: rgb(81, 81, 81);
        color: white;
        z-index: 2;
    }

    #mainpagecontent{
        flex-direction: column-reverse;
        justify-content: center;
        text-align: left;
        align-items: none;
        width: 100%;
        max-height: 85%;
        margin: auto;
    }
    #maintext{
        display: flex;
        flex-direction: column;
        max-width: 90%;
    }
    #mainicon{
        max-width: 80%;
        height: auto;
    }
    #intro{
        font-size: 150%;
    }
    #tagline{
        font-size: 100%;
        margin-top: 0;
    }
    .contact p{
        display: none;
    }
    #footerwrap{
        margin: 2% auto auto auto;
    }
    .resumecolumn{
        flex: 90%;
        width: 90%;
    }
    .icon{
        max-height: 30px;
    }
    #overflowpreventiontext{
        display: block !important;
        color: transparent;
        font-size: 1.5rem !important;
        overflow-y: visible !important;
    }
  }


